<form class="section box" action="/dashboard/addplaylist" method="POST">
  <div class="field">
    <label class="label">Case Form</label>
    <input class="input" type="text" placeholder="Enter Your Name" name="title">
  </div>
  <button class="button is-link">Add Case Form Folder</button>
</form>