{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Training Simulation
  </h3>
  <div class="section">
    <p>
      Talkdesk training simulation. Please enter a username and password of your choice when signing up. Do not use personal or sensitive information. Sign in using the details you provided, follow on screen instructions.
    </p>
  </div>
</section>